################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chat/Example1/bin
/Chat/Example1/obj/Debug
/Chat/Example2/bin
/Chat/Example3/obj/Debug
/Chat/Example3/bin
/Chat/Example2/obj/Debug
/Chat/.vs
